{% extends 'polls/base_mhp.html' %}
{% load static %}

{% block content_mhp %}
    <div id="div_main" style="overflow-x:auto; overflow-y: auto; white-space: nowrap; padding-left: 0.5%;">
        {% for ven in vendor %}
            <div style="width: 300px; height: 100%; display: inline-block; vertical-align:top; margin-right: 1%;";> <h2 align="center" style="color: darkturquoise;"> {{ ven.name }} </h2>
            {% for item in food %}
                {% if item.vendor == ven %}
                    <div style="width: 100%;height: 400px; display: block;" class="tooltip">
                        <img src="{{ item.image.url }}" style="width: 99%; height: 300px;" />
                        <span class="tooltiptext">
                            <p>Số Lượng: {{ item.quantity }}</p>
                            <p>Thời Gian Chuẩn Bị (phút): {{ item.prepare }} </p>
                            <p>Mô tả:</p>
                            <p align="center" style="white-space: normal; overflow-y: auto">{{ item.description }}</p>
                        </span>
                        <p> Tên món ăn: {{ item.name }} </p>
                        <p> Giá món ăn: {{ item.price }} VND </p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}

        <div id="edit_1" style="display: none;">
            <div style="height:5%; width:99%; border:0.01px solid #CCC;">
                <div class="tab" onClick="replace_2()"> <p align="left" style="font-size:12px"> <label> THÊM CỬA HÀNG </label> </p> </div>
                <div class="tab" onClick="replace_1()"> <p align="left" style="font-size:12px"> <label> CHỦ CỬA HÀNG </label> </p> </div>
                <div style="width:5%; height:75%; border:0.5px solid #CCC; float:right; margin:0.5% 1%; text-align:center">
                    <button style="width:100%; height:100%; cursor:pointer;" onClick="hide()">
                        <b> x </b>
                    </button>
                </div>
            </div>
            <div style="clear:both"> </div> <br />
            <form enctype="multipart/form-data" id="newOwner">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Thêm Cửa Hàng" class="own_submit" id="subNewOwn" />
            </form>
        </div>

        <div id="edit_2" style="display: none">
            <div style="height:5%; width:99%; border:0.01px solid #CCC;">
                <div class="tab" onClick="replace_2()"> <p align="left" style="font-size:12px"> <label> THÊM CỬA HÀNG </label> </p> </div>
                <div class="tab" onClick="replace_1()"> <p align="left" style="font-size:12px"> <label> CHỦ CỬA HÀNG </label> </p> </div>
                <div style="width:5%; height:60%; border:0.5px solid #CCC; float:right; margin:0.5% 1%; text-align:center">
                    <button style="width:100%; height:100%; cursor:pointer;" onClick="hide()">
                        <b> x </b>
                    </button>
                </div>
            </div>
            <div style="clear:both"> </div> <br />
            <table style="width: 100%; height: auto;">
                <tr>
                    <th> Cửa Hàng </th>
                    <th> Tài khoản </th>
                    <th> Họ và Tên </th>
                    <th> Số Điện Thoại </th>
                </tr>
                {% for every in owner %}
                    <tr>
                        <td style="padding-left: 1%; height: 75px;"> {{ every.store }}</td>
                        <td style="padding-left: 1%; height: 75px;"> {{ every.user.username }} </td>
                        <td style="padding-left: 1%; height: 75px;"> {{ every.name }} </td>
                        <td style="padding-left: 1%; height: 75px;"> {{ every.phone }} </td>
                        <td style="padding-left: 1%; height: 75px; width: 10%; text-align:center; border: none"> <button onclick="openInNeedTab('{{ every.pk }}')" class="edit_delete" > Edit </button> </td>
                        <td style="padding-left: 1%; height: 75px; margin-left: 20%; border: none">
                            <form action="{% url 'delOwner' pk=every.pk %}" method="POST" style="width: 100%; height: 100%; padding-top: 25%;">
                                {% csrf_token %} <input type="submit" style="height: 60%; width: 80%; background-color: red;" value="Delete" class="edit_delete" />
                            </form>
                        </td>
                    </tr>
                    <div id="{{ every.pk }}" class="edit_owner" style="width: 50%; height: 70%; background-color: #CCCccc; padding: 1% 2%; display: none;">
                        <form action="{% url 'editOwner' pk=every.pk %}" method="POST">
                            {% csrf_token %} <br />
                            <p> <label> Đổi Tên Cửa Hàng </label> </p>
                            <p> <input type="text" value="{{ every.store }}" name="store" class="add_food" /> </p>
                            <p> <label> Đổi Tài khoản </label> </p>
                            <p> <input type="text" value="{{ every.user.username }}" name="username" class="add_food" /> </p>
                            <p> <label> Đổi Họ Tên </label> </p>
                            <p> <input type="text" value="{{ every.name }}" name="name" class="add_food" /> </p>
                            <p> <label> Đổi Số Điện Thoại </label> </p>
                            <p> <input type="text" value="{{ every.phone }}" name="phone" class="add_food" /> </p>
                            <p> <label> Đổi Số Mật Khẩu </label> </p>
                            <p> <input type="password" name="password" class="add_food" /> </p>
                            <p> <input type="submit" value="submit" class="own_submit" /> </p>
                        </form>
                    </div>
                {% endfor %}
            </table>
        </div>

    </div>

    <script>
	function display(){
		document.getElementById("edit_1").setAttribute("style", "height: 88%; width: 50%;")
	}

	function hide(){
		document.getElementById("edit_1").setAttribute("style", "display:none")
		document.getElementById("edit_2").setAttribute("style", "display:none")
        var contain = document.getElementsByClassName("edit_owner")
        for(var i = 0; i < contain.length; i++){
            contain[i].setAttribute("style", "display: none")
        }
	}

	function replace_1(){
		document.getElementById("edit_1").setAttribute("style", "display:none")
		document.getElementById("edit_2").setAttribute("style", "height: 88%; width: 50%;")
	}

	function replace_2(){
		document.getElementById("edit_1").setAttribute("style", "height: 88%; width: 50%;")
		document.getElementById("edit_2").setAttribute("style", "display:none")
	}

	function openInNeedTab(pk) {
        contain = document.getElementsByClassName("edit_owner")
        temp = document.getElementById(pk)
        for(var i = 0; i < contain.length; i++){
            if(contain[i] == temp) temp.setAttribute("style", "width: 50%; height: 80%; background-color: #CCCccc; padding: 1% 2%; position:absolute; top:5%; left:25%; z-index:100")
            else contain[i].setAttribute("style", "display: none;")
        }
    }



	</script>
    <script type="text/javascript" src="{% static 'jquery-1.12.2.min.js' %}"></script>
    <script type="text/javascript">

        $(document).on('focusout', '#newStore', function(e) {
            e.preventDefault();
            var store = $("#newStore").val();
            var sub = document.getElementById("subNewOwn");
            {% for ven in vendor %}
                if(store == "{{ ven.name }}"){
                    if(document.getElementById("exs_store_mess") != null) return;
                    else {
                        $("#newStore").before("<p style='color: red;' id='exs_store_mess'> Tên cửa hàng đã tồn tại. </p>");
                        sub.setAttribute('disabled', true);
                        return;
                    }
                }
            {% endfor %}
            document.getElementById("exs_store_mess").remove();
            var user = document.getElementById("exs_user_mess");
            var pass = document.getElementById("wrong_pass");
            if(user == null && pass == null) sub.removeAttribute("disabled");
        });

        $(document).on('focusout', '#newUsername', function(e) {
            e.preventDefault();
            var own = $("#newUsername").val();
            var sub = document.getElementById("subNewOwn");
            {% for username in user %}
                if(own == "{{ username.username }}"){
                    if(document.getElementById("exs_user_mess") != null) return;
                    else {
                        $("#newUsername").before("<p style='color: red;' id='exs_user_mess'> Tài khoản đã tồn tại. </p>");
                        sub.setAttribute('disabled', true);
                        return;
                    }
                }
            {% endfor %}
            document.getElementById("exs_user_mess").remove();
            var user = document.getElementById("exs_store_mess");
            var pass = document.getElementById("wrong_pass");
            if(user == null && pass == null) sub.removeAttribute("disabled");
        });

        $(document).on('focusout', '#newPass2', function(e) {
            e.preventDefault();
            var pass1 = $("#newPass2").val();
            var pass2 = $("#newPass1").val();
            var sub = document.getElementById("subNewOwn");
            if(pass1 != pass2){
                if(document.getElementById("wrong_pass") != null) return;
                else {
                    $("#newPass2").before("<p style='color: red;' id='wrong_pass'> Mật khẩu không trùng khớp </p>");
                    sub.setAttribute('disabled', true);
                    return;
                }
            }
            document.getElementById("wrong_pass").remove();
            var user = document.getElementById("exs_store_mess");
            var pass = document.getElementById("exs_user_mess");
            if(user == null && pass == null) sub.removeAttribute("disabled");
        });

        $(document).on('submit', '#newOwner', function(e) {
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: './',
                data:{
                    store:$('#newStore').val(),
                    username:$('#newUsername').val(),
                    name:$('#newName').val(),
                    phone:$('#newPhone').val(),
                    password1:$('#newPass1').val(),
                    password2:$('#newPass2').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    alert('Thêm cửa hàng thành công');
                    location.reload();
                },
            })
        })
    </script>
{% endblock %}