{% extends 'polls/base_mo_login.html' %}
{% load static %}

{% block login_mo %}

    <div id="main_form">
    	<div style="width:50%; height:100%; text-align:center; display:inline-block; vertical-align:top; border:none;">
        	<h2 style="font-family: 'Dancing Script'; margin-top:10%;"> HCMUT Food Court </h2>
            <p> <img src="{% static 'logo.png' %}" width="50px" height="50px" /> </p>
            <p> <img src="{% static 'log_icon.jpg' %}" id="log_icon" /> </p>
            <p align="left" style="margin-left:5%;"> <i> <u> IT Staff:</u> </i> 113 </p>
            <p align="left" style="margin-left:5%;"> <i> <u> Manager:</u> </i> 115 </p>
      	</div>
        <div style="width:48%; height:100%; text-align:center; display:inline-block; ">
			<h3 style="margin-top:40%;"> <b> Owner Login </b> </h3> <br />
            <form action="." method="post">
                {% csrf_token %}
                <p> <input name="username" type="text" id="Email" class="search" name="search" onchange="hideIcon(this);" Placeholder="Email" /> </p>
                <p> <input name="password" type="password" id="Pass" class="search" name="search" onchange="hideIcon(this);" Placeholder="Password" /> </p>
                <p> <br /> <input id="button" type="submit" value="Login" /> </p>
            </form>
        </div>
    </div>

{% endblock %}