{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
   
    <title>CartPage</title>
    <!-- Required meta tags -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/Cart.css' %}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Table responsive-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/cart.js' %}"></script>

    <script>
      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      const csrftoken = getToken('csrftoken');
    </script>
  </head>

  <body>
    
    <div class="coverCart">
        <img style="width:100vw; height:40vw" src="{% static 'images/Cart1.jpg' %}"/>
        <!--Start of nav menu-->
        <div class="header banner">
          <!--<img src="./assets/banner.jpg" alt="" class="banner-img"> -->
          <nav class="navbar navbar-expand-sm navbar-dark ">
            <span class="navbar-brand" href="" style="cursor: default;">Smart Court</span>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav my_menu">
                <a class="nav-item nav-link active line menu-home" href="/page/homepage/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link line menu-news" href="#">News</a>
                <a class="nav-item nav-link line menu-menu" href="#">Menu</a>
                <a class="nav-item nav-link line menu-about" href="#">About us</a>
                <!-- <a class="nav-item nav-link ml-auto login-btn" href="#">Login</a> -->
              </div>
            </div>
            <a class="nav-item nav-link login-btn" href="/page/cart/"><i class="fa fa-shopping-cart my_cart" aria-hidden="true" value='{{total}}' id="_cart"></i>
            </a>
            <div class="dropdown">
              <button style="background-color:RGB(195, 102, 9); color:white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username | title}}
              </button>
              <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a style="color:black" class="dropdown-item" href="./account_info.html">My Account </a>
                <a style="color:black" class="dropdown-item" href="/page/wallet/">My Wallet </a>
                <a style="color:black" class="dropdown-item" href="#">My History Transaction</a>
                <a style="color:black" class="dropdown-item" href="#">LogOut</a>

              </div>
            </div>
       </nav>
          </div>
        </div>
        <!--End of nav menu-->
        <div class="Title" style="color:RGB(195, 102, 9)">
        Shopping Cart
        </div>
    </div>


    <!--Table Order-->
    
    
    {% comment %} {% endif %} {% endcomment %}
    <div class="container">
      <div class="table-responsive">          
      <table class="table" data-id={{order.id}} id="order_table">
        <thead>
          <tr>
            <th class="food">#</th>
            <th></th>
            <th class="food">Product</th>
            <th class="food">Price</th>
            <th class="food">Quantity</th>
            <th class="food">Total</th>
          </tr>
        </thead>
        <tr>


          {% for item in order.orderitem_set.all %}
          <tr id="food{{item.food.id}}" class="_food_item">
            <td>{{forloop.counter}}</td>
            <td><img src="{{item.food.image.url}}" width="50" height="50"></td>
            <td>{{item.food.name}}</td>
            <td>{{item.food.price}}</td>
          
            <td>
              <div class="my_quantity">
                <div class="output_quantity">{{item.quantity}}</div>
                <span class="edit_quantity">
                    <img src="{% static 'assets/arrow_up.png' %}" data-id="{{item.food.id}}" class="arrow_up __arrow" data-action="add">
                    <img src="{% static 'assets/arrow_down.png' %}" data-id="{{item.food.id}}" class="arrow_down __arrow" data-action="remove">
                </span>
              </div>
            </td>

            <td>{{item.get_total}}</td>
          </tr>
          {% endfor %}       
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="food" style="font-size: 1.5vw;">Total</td>
            <td class="food" style="font-size: 1.5vw;" id="all_total">{{total_bill}}</td>
          </tr>

        </tbody>
      </table>
      </div>
      </div>
      <!--END OF TABLE ORDER-->
           

    <div class="container">
        <form action="" method="post" class="row" id="payment_form">
            {% csrf_token %}
            <div class="payment_method col-lg-6 col-12">
                <h3 for="">Payment methods</label></h3>
                <input type="radio" name="my_method" id="momo" checked value="Momo">
                <label for="momo">MoMo</label><br>
                <input type="radio" name="my_method" id="ZaloPay" value="ZaloPay" disabled>
                <label for="ZaloPay">ZaloPay</label><br>
                <input type="radio" name="my_method" id="ViettelPay" value="ViettelPay" disabled>
                <label for="ViettelPay">ViettelPay</label><br>
                <input type="radio" name="my_method" id="PayPal" value="PayPal" disabled>
                <label for="PayPal">PayPal</label><br>
                <input type="radio" name="my_method" id="Food Court's account" value="dirty_coin">
                <label for="Food Court's account">Food Court's account</label><br>
            </div>
            <div class="note col-lg-6 col-12">
                <h4>Give your note to our team. We love note <i class="fa fa-heart" aria-hidden="true"></i></h4>
                <textarea name="customer_note" form="payment_form" cols="40" rows="7"></textarea><br>
                <input type="submit" value="Pay now" id="send_json">
            </div>
        </form>

        <button id="clickme">Click me</button>
    </div>



    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <script>
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                data = JSON.parse(message.data)
                console.log("Got websocket message " + data.command);  
            };
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
            $("#send_json").click(function() {
              console.log("button clicked");
              table = document.getElementById("order_table")
              console.log(table.dataset.id)
              socket.send(JSON.stringify({
                'command': 'to_chef',
                'id': table.dataset.id
              }))
            })

            $("#clickme").click(function() {
              console.log("button clicked");
              table = document.getElementById("order_table")
              console.log(table.dataset.id)
              socket.send(JSON.stringify({
                'command': 'to_chef',
                'id': table.dataset.id
              }))
            })
            
        });
    </script>
     
  </body>
</html>


