{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/1.css' %}">
    <link rel="stylesheet" href="{% static 'css/2.css' %}">
    <link rel="stylesheet" href="{% static 'css/Cart.css' %}">
    <script src="{% static 'js/1.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</head>
<body>
    <div class="header banner">
      <img src="{% static 'assets/link1.jpeg' %}" alt="" class="banner-img">
      <nav class="navbar navbar-expand-sm navbar-dark ">
        <a class="navbar-brand" href="/page/homepage/">Smart Court</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav my_menu">
            <a class="nav-item nav-link active line menu-home" href="/page/homepage/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link line menu-news" href="#news">News</a>
            <a class="nav-item nav-link line menu-menu" href="#menu">Menu</a>
            <a class="nav-item nav-link line menu-about" href="#about-us">About us</a>
            <!-- <a class="nav-item nav-link ml-auto login-btn" href="#">Login</a> -->
          </div>
        </div>
        {% if user.username %}
          <a class="nav-item nav-link login-btn" href="/page/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>              
          <div class="dropdown">
            <button style="background-color:RGB(195, 102, 9); color:white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello {{user.username | title}}
            </button>
            <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a style="color:black" class="dropdown-item" href="">My Account </a>
              <a style="color:black" class="dropdown-item" href="/page/wallet/">My Wallet </a>
              <a style="color:black" class="dropdown-item" href="#">My History Transaction</a>
              <a style="color:black" class="dropdown-item" href="/logout/">Sign Out</a>
            </div>
          </div>
        {% else %} 
          <a class="nav-item nav-link login-btn" href="/auth/login/">Sign In</a>
          <a class="nav-item nav-link login-btn" href="/auth/register/">Sign Up</a>
        {% endif %}
        </nav>
        <div class="Title" style="color:RGB(195, 102, 9); margin-top:-45vw">
          Smart Payment
      </div>
      <!--BUTTON IN COVER-->
      <button class="buttonTemp" style="margin-left:10vw;margin-top:20vw;">Cash in</button>
      <button class="buttonTemp" style="margin-left:40vw;margin-top:20vw">Card/Account management</button> <br> <br> <br>
      </div>
      <!--ACCOUNT MANAGEMENT-->
      <!--Table Order-->
      <div class="container">
        <h1 class="food" style="color: RGB(195, 102, 9);text-align:center;margin-top:10vw">Account/Card Manage</h1>
      <div class="table-responsive">          
        <table class="table" style="margin-top:3vw" >
          <thead>
            <tr>
              <td class="food" style="font-size: 2vw;color:black">Your Balance Account:</td>
              <td class="food" style="font-size: 2vw;color:black">1.200.000 VND</td>
            </tr>
          </thead>
          <tr>
            <td class="food" style="font-size: 2vw;color:black">Your Number Account:</td>
            <td class="food" style="font-size: 2vw;color:black">********425</td>
          </tr>
          <tr>
              <td class="food" style="font-size: 2vw;color:black">Your Bank:</td>
              <td class="food" style="font-size: 2vw;color:black">Oricom Bank  <img src="{% static 'assets/Bank1.png' %}" width="100"></td>
          </tr>
        </table>
      </div>
    </div>
      <button class="buttonPay" style="margin-right:10px"><a href="UnLink.html" style="color:white">Unlink</a></button><br/>

      <!--END OF TABLE ORDER-->
      <!--END ACCOUNT MANAGEMENT-->

      <!-- START CASH_IN-->
      <h1 class="food" style="color: RGB(195, 102, 9);text-align:center;margin-top:2vw">Cash - In</h1>

      <div class="backgroundWallet">
      <table class="table" style="margin-top:0vw;text-align:center" >
          <thead>
            <tr>
              <form action="/action_page.php" >
              <td class="food" style="font-size: 2vw;color:black"><label for="lmoney">Amount of money</label><br>
                  
              </td>
              <td class="food" style="font-size: 2vw;color:black"><input type="text" id="fmoney" name="fmoney" value="3.000.000" top="300px" style="text-align:center"  ><br>
              </td>
            </thead>

            </tr>
            <tr>
                <td class="food" style="font-size: 2vw;color:black">Money Source</td>
                <td class="food" style="font-size: 2vw;color:black">********425___OCB BANK</td>

            </tr>

  
        </table>
      </div>
      <button class="buttonPay">Cash in</a>
      </button>
      <!--END CASH_IN-->
</body>
</html>    
    